{% extends '_base.html' %}
{% load static %}

{% block title %}Movies{% endblock title %}

{% block content %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <img src="{% static 'images/popcorn.avif' %}" class="w-80" alt="popcorn" />
  <p class="text-xl">Movies</p>
  <ul>
    {% for movie in object_list %}
    <li>
      <a href="{% url 'movie' movie.id %}">{{ movie.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% include 'partials/pagination.html' %}
</div>
{% endblock content %}